<div class="page-layout blank" fusePerfectScrollbar>
    <div class="new-post">
        <button mat-stroked-button color="accent" routerLink="/new-post">New post</button>
    </div>
    <div style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input type="text" matInput [(ngModel)]="search" (keyup)="filter()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div *ngFor="let item of postSrc; index as i" style="padding: 10px" fxLayout="row" [style.display]="posts[i].isInclude ? 'flex' : 'none'">
        <img [src]="item" alt="" (click)="postDetail(i)" fxFlex="50">
        <span fxFlex="50">
            {{posts[i].description}}
        </span>
    </div>
</div>
