.new-post {
    padding: 30px 0px 20px; 
    text-align: center;
    button {
        width: 200px;
    }
}
img {
    cursor: pointer;
    width: 50%;
}
span {
    margin: auto;
    text-align: center;
}
mat-form-field {
    width: 80%;
}